* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body, html {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-size: 2.5vh;
  }

  header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30%;
    z-index: 10;
    align-items: center;
    justify-content: center;
  }

  .logo {
    height: 88%;
  }

  .carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    filter: opacity(39%);
  }

  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation: fade 25s infinite;
  }

  .slide1 { background-image: url('../img/slide1.jpg'); animation-delay: 0s;  }
  .slide2 { background-image: url('../img/slide2.jpg'); animation-delay: 5s;  }
  .slide3 { background-image: url('../img/slide3.jpg'); animation-delay: 10s; }
  .slide4 { background-image: url('../img/slide4.jpg'); animation-delay: 15s; }
  .slide5 { background-image: url('../img/slide5.jpg'); animation-delay: 20s; }
  
  @keyframes fade {
    0% { opacity: 0; }
    4% { opacity: 1; }
    20% { opacity: 1; }
    24% { opacity: 0; }
    100% { opacity: 0; }
  }

  .overlay {
    width: 100%;
    height: 59%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 2;
    gap: 4%;
  }

  .link-box {
    background: rgba(255, 255, 255, 0.9);
    width: 20%;
    height: 90%;
    border-radius: 1%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .link-box img {
    width: 100%;
    height: 55%;
  }

  .text-title{
    font-size: 0.9em;
    font-weight: bolder;
    padding: 0% 3%;
    color: #000;
    text-align: justify;
  }
  
   .text-card{
    font-size: 0.7em;
    padding: 0% 3%;
    color: #333;
    text-align: justify;
  }
  
  .link-box .btn {
    background: #6F6F6F;
    color: white;
    padding: 2% 4%;
    border-radius: 0%;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
    margin-bottom: 2%;
  }

  .link-box a{
    font-size: 0.7em;
  }
  
  .link-box .btn:hover {
    background: #B72727;
  }

  footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    background: #fff;
    text-align: center;
    margin-top: 1%;
    z-index: 10;
  }
  
  .footer-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 10%;
  }
  
  .footer-logos img {
    height: 60%;
    transition: transform 0.3s;
  }
  
  .footer-logos img:hover {
    transform: scale(1.1);
  }

@media (max-width: 1440px){
    header{
        height: 25%;
    }

    .overlay{
        height: 64%;
        gap:4%;
    }

    .link-box{
        width: 28%;
    }
}

@media (max-width: 940px){
    body{
        overflow-y: auto;
    }

    header {
        height: 20%;
    }
    
    .logo {
        height: 80%;
    }

    .overlay{
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0%;
    }

    .link-box{
        width: 90%;
        margin-bottom: 5%;
    }

    .text-title{
        font-size: 1em;
        padding: 3%;
      }
      
    .text-card{
        font-size: 0.8em;
        padding: 3%;
    }

    footer{
        z-index: 10;
    }

    .footer-logos img{
        height: 40%;
        gap: 5%;
    }
}